#sun,
#moon, 
#heading {
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
}
#sun {
    color: #000;
    display: none;
}
button{
    width: 200px;
    height: 70px;
    padding: 10px;
    color: #fff;
    margin: 16px;
}
#add{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    padding: 2px;
    right: 20px;
}
#add > i{
    font-size: 30px;
}
