input{
    margin-top: 50px;
    border: 2px solid black;
    font-size: 18px;
    text-align: center;
    outline: none;
    height: 40px;
    width: 110px;
	border-radius: 5rem;
}
:root {
	--grid-cols: 1;
	--grid-rows: 1;
  }
  
  #container {
	display: grid;
	grid-gap: 1em;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	-ms-grid-row: repeat(var(--grid-rows), 1fr);
	-ms-grid-column: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
	padding: 1em;
	border: 1px solid #ddd;
	text-align: center;
  }